#problem1Output, #problem2Output, #problem3Output, #problem4Output, #problem5Output, #problem6Output, #problem7Output, #problem8Output {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

